body{
  background: var(--color_fondo);
}
.border{
  border: solid .5px #000!important;
  padding: 10px;
  border-radius: 10px;
}
.table-bordered > :not(caption) > * > *{
  border: none!important;
}
table thead {
  margin-bottom: 10px!important;
}
table thead  tr th{
    background: var(--color_menu)!important;
    text-align: center;
    color: var(--color_alerta_calendario)!important;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 400;
    border: none!important;
   
}
table tbody{
  margin-top: 10px!important;
  border: none!important;
  border-bottom: solid 1px rgba(0,0,0,.1)!important;
 
}
table tbody tr {
    
    background: #290f0f!important;
    margin-top: 10px!important;
    font-size: 14px;
    font-weight: 400;
}